@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: url("../../assets/fonts/Lato/Lato-Regular.ttf") format("truetype")
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype")
}