@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/utilities';

@import './mixins';
@import './fonts';
@import './variables';
@import './theme';

@import '../../node_modules/bootstrap/scss/grid';

@mixin common-list($removePadding: true) {
  list-style: none;
  margin: 0;
  @if $removePadding {
    padding: 0;
  }
}

body {
  font-family: 'Roboto', 'Lato';
  padding: 0;
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
}

.player {
  &__details {
    &__info {
      ul {
        @include common-list(true);
      }
    }
    &__playlist {
      ul {
        @include common-list(false);
      }
    }
  }
}

.video__player {
  height: 100%;
  &__wrapper {
    height: 100%;
  }
  &__theatre {
    height: 100%;
    position: relative;
    width: 100%;
    // height: calc((9 / 16) * 100vw);
    // max-height: calc(100vh - 169px);
    min-height: 480px;
    background: #000;
  }

  video {
    width: 100%;
    height: 100%;
  }
}

.centered {
  text-align: center;
}

button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

audio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  &.visualizer {
    background-image: radial-gradient(
      circle,
      #1d1c1a,
      #181210 10%,
      #0c080a 40%,
      #140514
    );
    position: relative;
    overflow: hidden;

    canvas {
      display: block;
    }

    .call-to-action {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      cursor: pointer;
    }
  }
}
